// Declare key variables

$brand-color: #282961
$light-brand: #515294
$lighter-brand: #797AAF
$background-color: #fafafa
$light-grey: #efefef
$mid-grey: #969696
$p-font-stack: open sans, sans-serif
$h-font-stack: oswald, sans-serif

html, body
  height: 100%
  background-color: $background-color

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1, h2, h3, h4, h5
  font-family: $h-font-stack

p
  font-family: $p-font-stack

a
  text-decoration: none

// The header

header
  display: block
  width: 100%
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1)
  padding: 15px
  height: 50px
  position: fixed
  background-color: $background-color
  z-index: 100
  font-family: $h-font-stack

nav ul
  list-style-type: none

header nav ul li
  float: left
  padding: 0px 7px 0px 7px
  font-size: 0.9em
  transition: 0.2s
  text-transform: uppercase

nav ul li a
  color: $brand-color

nav ul li:hover, nav#social ul li a:hover
  margin-top: -3px
  transition: 0.2s

nav#right, nav#social
  float: right


nav#social ul li a
  background-color: $brand-color
  border-radius: 30px
  width: 23px
  height: 23px
  color: $background-color
  display: flex
  justify-content: center
  align-items: center
  transition: 0.2s

nav#social
  margin-left: 10px

nav#social ul li
  padding: 0px 5px 0px 5px
  margin-top: -2px


nav#right ul li.active, nav#left ul li.active
  background-color: $light-grey
  border-radius: 30px
  transition: 0.2s

img#forge
  height: 20px

// Footer

footer
  display: block
  width: 100%
  padding: 25px
  min-height: 50px
  background-color: $brand-color
  text-align: center
  z-index: 5
  position: relative
  -webkit-box-shadow: inset 0px 9px 24px -9px rgba(0,0,0,0.2)
  -moz-box-shadow: inset 0px 9px 24px -9px rgba(0,0,0,0.2)
  box-shadow: inset 0px 9px 24px -9px rgba(0,0,0,0.2)
  font-family: $h-font-stack

  nav
    display: flex
    margin: 10px auto 30px auto
    justify-content: center
    align-items: center

    ul li
      float: left
      font-size: 0.9em
      transition: 0.2s
      text-transform: uppercase
      padding: 0px 7px 0px 7px

    ul li a
      background-color: $light-brand
      border-radius: 30px
      width: 30px
      height: 30px
      color: $background-color
      display: flex
      justify-content: center
      align-items: center
      transition: 0.2s

    nav
      margin-left: 10px

    nav ul li
      padding: 0px 7px 0px 7px
      margin-top: -2px

  span
    text-transform: uppercase
    color: $light-brand
    font-size: 1.3em

  hr
    width: 30px
    margin: 10px auto
    border: 1px solid $light-brand

  p
    font-family: $p-font-stack
    color: $light-brand
    font-size: 0.8em

    a
      color: $lighter-brand

section#latest, section#services
  max-width: 1100px
  margin: 20px auto

  p
    color: $light-brand
    font-size: 0.8em

    a
      color: $lighter-brand
      font-family: open sans


//The hero section

section#hero
  width: 100%
  height: 100%
  background-image: url("../img/hero.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-attachment: fixed
  display: flex
  align-items: center
  justify-content: center
  -webkit-flex-direction: column
  flex-direction: column
  color: $background-color
  position: relative
  z-index: 1
  font-family: $h-font-stack

div.divider
  height: 12px
  width: 60px
  border-top: 3px solid $background-color
  border-bottom: 3px solid $background-color
  margin: 20px

span#slogan
  max-width: 320px
  text-align: center
  padding: 0px 10px 0px 10px
  font-size: 1.1em

img#logo
  height: 100px

a.cue
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  color: $background-color
  animation-name: throb
  animation-duration: 1s
  animation-delay: 1s
  transition: 0.2s
  z-index: 3

i.cue
  opacity: 0.7

@keyframes throb
  0%
    transform: scaleY(1)
    background-color: rgba(255,255,255,0)
  50%
    transform: scaleY(1.5)
    background-color: rgba(255,255,255,0.3)
  100%
    transform: scaleY(1)
    background-color: rgba(255,255,255,0)

a.cue:hover
  transition: 0.2s
  transform: scaleY(1.3)
  background-color: rgba(255,255,255,0.3)

//Latest section

h4
  font-size: 0.9em
  text-transform: uppercase
  margin-bottom: 5px
  font-family: open sans
  font-weight: 100

section#latest
  height: 100%
  display: flex
  flex-flow: row wrap
  z-index: 3
  position: relative
  padding: 10px 5px 10px 5px

  div.padder
    height: 50%
    width: 33.33%
    padding: 10px

  div.tile:hover
    transform: scale(1.02,1.02)
    box-shadow: 0px 0px 5px rgba(0,0,0,0.05)
    transition: 0.2s

  div.tile
    border: 1px solid #dfdfdf
    height: 100%
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
    transition: 0.2s
    position: relative
    overflow: hidden

    div.cover
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0

    div.tile-image
      height: 50%
      background-size: cover
      background-position: center
      -webkit-filter: brightness(0.8)

    div.tile-info
      height: 50%
      padding: 20px
      position: relative
      pointer-events: none

      ul
        list-style-type: none

        li
          display: inline
          margin-right: 5px
          font-size: 0.8em
          font-family: $p-font-stack
          font-weight: 100

          a
            color: $mid-grey

      h2
        text-transform: uppercase
        color: $brand-color
        font-size: 1.3em

      p
        font-size: 0.8em
        color: $mid-grey
        margin-top: 10px

      div.triangle
        width: 0
        height: 0
        border-left: 25px solid transparent
        border-right: 25px solid transparent
        border-bottom: 30px solid $background-color
        position: absolute
        top: -25px
        left: 15px

//Contact bar

section#contact:hover
  transition: 0.1s
  background-color: #494A8E

section#contact
  width: 100%
  height: 100px
  background-color: $light-brand
  display: flex
  justify-content: center
  align-items: center
  transition: 0.1s

  span:first-of-type
    text-transform: uppercase
    font-family: oswald
    font-size: 1.5em
    color: $brand-color
    margin: 5px

  span:nth-of-type(2)
    color: $background-color
    font-weight: 100
    text-transform: uppercase
    font-family: oswald
    font-size: 1.5em

//Featured banner

section#featured
  width: 100%
  height: 60%
  background-color: #efefef
  display: flex
  position: relative

  div#bg_img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-attachment: fixed
    background-position: center
    background-size: cover
    -webkit-filter: grayscale(1.0)
    -moz-filter: grayscale(1.0)
    filter: grayscale(1.0)


  div#bg
    background: -moz-linear-gradient(left,  rgba(29,31,96,1) 0%, rgba(40,41,97,0) 100%)
    background: -webkit-linear-gradient(left,  rgba(29,31,96,1) 0%,rgba(40,41,97,0) 100%)
    background: linear-gradient(to right,  rgba(29,31,96,1) 0%,rgba(40,41,97,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 )
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 1

  div.featured-info
    padding: 50px
    max-width: 500px
    text-shadow: 0px 0px 30px rgba(0,0,0,0.4)
    z-index: 2
    position: relative

    ul
      list-style-type: none

      li
        display: inline
        margin-right: 5px
        font-size: 0.8em
        font-family: $p-font-stack
        font-weight: 100

        a
          color: $background-color

    h2
      text-transform: uppercase
      color: $background-color
      font-size: 1.8em

    p
      font-size: 0.9em
      color: $background-color

    button#watch-now
      color: $background-color
      background-color: $light-brand
      padding: 15px
      font-size: 0.8em
      border-radius: 2px
      margin-top: 40px
      border: none !important
      box-shadow: none !important
      text-transform: uppercase
      font-family: open sans

      i
        margin-left: 5px

  h3
    position: absolute
    right: 10px
    bottom: -10px
    font-size: 8em
    color: rgba(255,255,255,0.1)
    text-transform: uppercase

//Services section

button
  color: $background-color
  background-color: $brand-color
  padding: 15px
  font-size: 0.8em
  border-radius: 2px
  border: none !important
  box-shadow: none !important
  text-transform: uppercase
  font-family: open sans

  i
    margin-left: 5px

section#services
  height: 80%
  display: flex
  flex-flow: row wrap
  z-index: 3
  position: relative
  padding: 10px 5px 10px 5px

  div.column
    width: 50%
    display: flex
    flex-direction: column
    background-color: peach

    div.service.hover:hover
      transform: scale(1.01,1.01)
      box-shadow: 0px 0px 5px rgba(0,0,0,0.05)
      transition: 0.2s

    div.service
      flex: 1
      border-top: 7px solid $brand-color
      margin: 10px
      border-bottom: 1px solid #dfdfdf
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
      position: relative
      display: flex
      flex-direction: row

      div.cover
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

      div.flex-image
        flex: 1
        background-size: cover
        background-position: center
        border-right: 1px solid #dfdfdf

      div.flex-content
        padding: 20px
        flex: 1

        h3
          color: $brand-color
          font-size: 1.7em
          text-transform: uppercase

        p
          font-size: 0.9em
          color: $mid-grey
          margin-top: 10px

        button
          position: absolute
          bottom: 20px
