// Declare key variables

$brand-color: #282961
$light-brand: #515294
$lighter-brand: #797AAF
$background-color: #fafafa
$light-grey: #efefef
$mid-grey: #969696
$p-font-stack: open sans, sans-serif
$h-font-stack: oswald, sans-serif

html, body
  height: 100%
  background-color: $background-color

  ::selection
    background-color: rgba(40,41,97,0.7)
    color: $light-grey

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1, h2, h3, h4, h5
  font-family: $h-font-stack

p
  font-family: $p-font-stack

a
  text-decoration: none

// The header

header
  display: block
  width: 100%
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1)
  padding: 15px
  height: 50px
  position: fixed
  background-color: $background-color
  z-index: 100
  font-family: $h-font-stack

nav ul
  list-style-type: none

header nav ul li
  float: left
  padding: 0px 7px 0px 7px
  font-size: 0.9em
  transition: 0.2s
  text-transform: uppercase

nav ul li a
  color: $brand-color

nav ul li:hover, nav#social ul li a:hover
  margin-top: -3px
  transition: 0.2s

nav#right, nav#social
  float: right

nav#social ul li a
  background-color: $brand-color
  border-radius: 30px
  width: 23px
  height: 23px
  color: $background-color
  display: flex
  justify-content: center
  align-items: center
  transition: 0.2s

nav#social
  margin-left: 10px

nav#social ul li
  padding: 0px 5px 0px 5px
  margin-top: -2px

nav#right ul li.active a
  background-color: $light-brand
  border-radius: 30px
  transition: 0.2s
  padding-left: 10px
  padding-right: 10px
  color: $background-color

img#forge
  height: 20px

header
  nav#right
    i
      display: none
      transition: 0.1s
      color: $brand-color

i.fa-bars:hover
  transition: 0.1s
  transform: scale(1.1)

// Footer

footer
  display: block
  width: 100%
  padding: 25px
  min-height: 50px
  background-color: $brand-color
  text-align: center
  z-index: 5
  position: relative
  -webkit-box-shadow: inset 0px 9px 24px -9px rgba(0,0,0,0.2)
  -moz-box-shadow: inset 0px 9px 24px -9px rgba(0,0,0,0.2)
  box-shadow: inset 0px 9px 24px -9px rgba(0,0,0,0.2)
  font-family: $h-font-stack

  div.up
    background-color: $light-brand
    width: 50px
    height: 50px
    border-radius: 50px
    display: flex
    justify-content: center
    align-items: center
    color: $background-color
    font-size: 1.5em
    position: absolute
    top: -25px
    left: 50%
    transform: translateX(-50%)
    transition: 0.1s
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1)

  div.up:hover
    top: -30px

  nav
    display: flex
    margin: 40px auto 20px auto
    justify-content: center
    align-items: center

    ul li
      float: left
      font-size: 0.9em
      transition: 0.2s
      text-transform: uppercase
      padding: 0px 7px 0px 7px

    ul li a
      background-color: $light-brand
      border-radius: 30px
      width: 30px
      height: 30px
      color: $background-color
      display: flex
      justify-content: center
      align-items: center
      transition: 0.2s

    nav
      margin-left: 10px

    nav ul li
      padding: 0px 7px 0px 7px
      margin-top: -2px

  span
    text-transform: uppercase
    color: $light-brand
    font-size: 1.3em

  hr
    width: 30px
    margin: 10px auto
    border: 1px solid $light-brand

  p
    font-family: $p-font-stack
    color: $light-brand
    font-size: 0.8em

    a
      color: $lighter-brand

section#latest, section#services
  max-width: 1100px
  margin: 20px auto
  clear: both

  p
    color: $light-brand
    font-size: 0.8em

    a
      color: $lighter-brand
      font-family: open sans

//The hero section

section#hero
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  -webkit-flex-direction: column
  flex-direction: column
  color: $background-color
  position: relative
  z-index: 1
  font-family: $h-font-stack

  div#bg_img
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: -2
    -webkit-filter: brightness(0.6) grayscale(1)
    -moz-filter: brightness(0.6) grayscale(1)
    filter: brightness(0.6) grayscale(1)

  div#bg
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: -1
    background: -moz-linear-gradient(right,  rgba(29,31,96,0.7) 0%, rgba(40,41,97,0) 100%)
    background: -webkit-linear-gradient(right,  rgba(29,31,96,0.7) 0%,rgba(40,41,97,0) 100%)
    background: linear-gradient(to left,  rgba(29,31,96,0.7) 0%,rgba(40,41,97,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 )

  div.divider
    height: 12px
    width: 60px
    border-top: 3px solid $background-color
    border-bottom: 3px solid $background-color
    margin: 20px

  span#slogan
    max-width: 320px
    text-align: center
    padding: 0px 10px 0px 10px
    font-size: 1.1em

img#logo
  height: 100px

a.cue
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  color: $background-color
  animation-name: throb
  animation-duration: 1s
  animation-delay: 1s
  transition: 0.2s
  z-index: 3

i.cue
  opacity: 0.7
  padding: 5px

@keyframes throb
  0%
    transform: scaleY(1)
    background-color: rgba(255,255,255,0)
  50%
    transform: scaleY(1.5)
    background-color: rgba(255,255,255,0.3)
  100%
    transform: scaleY(1)
    background-color: rgba(255,255,255,0)

a.cue:hover
  transition: 0.2s
  transform: scaleY(1.3)
  background-color: rgba(255,255,255,0.3)

//Latest section

h4
  font-size: 0.9em
  text-transform: uppercase
  margin-bottom: 5px
  font-family: open sans
  font-weight: 100
  color: $mid-grey

section#latest
  height: 100%
  display: flex
  flex-flow: row wrap
  z-index: 3
  position: relative
  padding: 10px 5px 10px 5px

  div.padder
    height: 50%
    width: 33.33%
    padding: 10px

  div.tile:hover
    transform: scale(1.01,1.01)
    transition: 0.2s

    .tile-info
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(40,41,97,0.05) 100%)
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(40,41,97,0.05) 100%)
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(40,41,97,0.05) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a282961',GradientType=0 )

  div.tile
    border: 1px solid #dfdfdf
    height: 100%
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
    transition: 0.2s
    position: relative
    overflow: hidden

    div.cover
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0

    div.tile-image
      height: 50%
      background-size: cover
      background-position: center
      -webkit-filter: brightness(0.8)

    div.tile-info
      height: 50%
      padding: 20px
      position: relative

      ul
        list-style-type: none
        z-index: 10
        position: relative

        li
          display: inline
          margin-right: 5px
          font-size: 0.8em
          font-family: $p-font-stack

          a
            color: $mid-grey
            font-weight: 100

      h2
        text-transform: uppercase
        color: $brand-color
        font-size: 1.3em

      p
        font-size: 0.8em
        color: $mid-grey
        margin-top: 10px

      div.triangle
        width: 0
        height: 0
        border-left: 25px solid transparent
        border-right: 25px solid transparent
        border-bottom: 30px solid $background-color
        position: absolute
        top: -25px
        left: 15px

div.grad
  position: absolute
  z-index: 4
  bottom: 0
  height: 40px
  left: 0
  width: 100%
  background: rgba(255,255,255,0)
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.47) 47%, rgba(250,250,250,1) 100%)
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(47%, rgba(246,246,246,0.47)), color-stop(100%, rgba(250,250,250,1)))
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.47) 47%, rgba(250,250,250,1) 100%)
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.47) 47%, rgba(250,250,250,1) 100%)
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.47) 47%, rgba(250,250,250,1) 100%)
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0.47) 47%, rgba(250,250,250,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0 )


a span#more
  color: $brand-color
  font-size: 1em
  font-family: open sans
  text-transform: uppercase
  font-weight: 100
  margin: 5px 10px 20px 10px
  display: none
  transition: 0.1s
  cursor: pointer

a span#more:hover
  transform: scale(1.1,1.1)

a#more span
  color: $brand-color
  font-size: 1em
  font-family: open sans
  text-transform: uppercase
  font-weight: 100

  cursor: pointer
  text-align: center

a#more:hover
  transform: scale(1.05,1.05)

a#more
  width: 122px !important
  margin: 5px auto 50px auto
  display: block
  transition: 0.1s

//Contact bar

section#contact:hover
  transition: 0.1s
  background-color: #494A8E

section#contact
  width: 100%
  height: 250px
  background-color: $light-brand
  padding: 50px
  justify-content: center
  align-items: center
  transition: 0.1s
  position: relative
  z-index: 0

  div#bg_img
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 1
    background-position: center
    background-size: cover
    background-attachment: fixed
    -webkit-filter: grayscale(1) brightness(0.7)
    filter: grayscale(1) brightness(0.7)
    -moz-filter: grayscale(1) brightness(0.7)

  div#grad
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 2
    background: -moz-linear-gradient(right,  rgba(29,31,96,0.7) 0%, rgba(40,41,97,0) 100%)
    background: -webkit-linear-gradient(right,  rgba(29,31,96,0.7) 0%,rgba(40,41,97,0) 100%)
    background: linear-gradient(to left,  rgba(29,31,96,0.7) 0%,rgba(40,41,97,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 )
    transition: 0.1s

  h3
    text-transform: uppercase
    font-family: $p-font-stack
    font-size: 0.9em
    color: $background-color
    font-weight: 100
    position: relative
    z-index: 3
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2)

  h4
    color: $background-color
    font-weight: 700
    text-transform: uppercase
    font-family: oswald
    font-size: 2em
    position: relative
    z-index: 3
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2)

  h3:nth-of-type(2)
    opacity: 0.5


section#contact:hover div#grad
  opacity: 0.7

//Featured banner

section#featured
  width: 100%
  height: 60%
  background-color: #efefef
  position: relative

  div#bg_img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-attachment: fixed
    background-position: center
    background-size: cover
    -webkit-filter: grayscale(1.0)
    -moz-filter: grayscale(1.0)
    filter: grayscale(1.0)


  div#bg
    background: -moz-linear-gradient(left,  rgba(29,31,96,1) 0%, rgba(40,41,97,0) 100%)
    background: -webkit-linear-gradient(left,  rgba(29,31,96,1) 0%,rgba(40,41,97,0) 100%)
    background: linear-gradient(to right,  rgba(29,31,96,1) 0%,rgba(40,41,97,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 )
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 1

  div.featured-info
    padding: 50px
    max-width: 500px
    text-shadow: 0px 0px 30px rgba(0,0,0,0.4)
    z-index: 2
    position: relative

    ul
      list-style-type: none

      li
        display: inline
        margin-right: 5px
        font-size: 0.8em
        font-family: $p-font-stack
        font-weight: 100

        a
          color: $background-color

    h2
      text-transform: uppercase
      color: $background-color
      font-size: 1.8em

    p
      font-size: 0.9em
      color: $background-color

    button#watch-now
      color: $background-color
      background-color: $light-brand
      padding: 15px
      font-size: 0.8em
      border-radius: 2px
      margin-top: 40px
      border: none !important
      box-shadow: none !important
      text-transform: uppercase
      font-family: open sans

      i
        margin-left: 5px

  h3
    position: absolute
    right: 10px
    bottom: -10px
    font-size: 8em
    color: rgba(255,255,255,0.1)
    text-transform: uppercase

//Services section

button
  color: $background-color
  background-color: $brand-color
  padding: 15px
  font-size: 0.8em
  border-radius: 2px
  border: none
  box-shadow: none
  text-transform: uppercase
  font-family: open sans

  i
    margin-left: 5px

section#services
  height: 80%
  display: flex
  flex-flow: row wrap
  z-index: 3
  position: relative
  padding: 10px 5px 10px 5px

  div.column
    width: 50%
    display: flex
    flex-direction: column
    background-color: peach

    div.service.hover:hover
      transform: scale(1.01,1.01)
      box-shadow: 0px 0px 5px rgba(0,0,0,0.05)
      transition: 0.2s

    div.service
      flex: 1
      border-top: 7px solid $brand-color
      margin: 10px
      border-bottom: 1px solid #dfdfdf
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
      position: relative
      display: flex
      flex-direction: row

      div.cover
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

      div.flex-image
        flex: 1
        background-size: cover
        background-position: center
        border-right: 1px solid #dfdfdf

      div.flex-content
        padding: 20px
        flex: 1

        h3
          color: $brand-color
          font-size: 1.7em
          text-transform: uppercase

        p
          font-size: 0.9em
          color: $mid-grey
          margin-top: 10px

        button
          position: absolute
          bottom: 20px

//Single post styling

div.spacer
  height: 50px

section#title
  width: 100%
  min-height: 350px
  background-color: $brand-color
  position: relative

  div#bg_img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    -webkit-filter: grayscale(1) brightness(0.7)
    -moz-filter: grayscale(1) brightness(0.7)
    filter: grayscale(1) brightness(0.7)
    background-size: cover
    background-position: center
    background-attachment: fixed
    z-index: 1

  div#bg
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: -moz-linear-gradient(right,  rgba(29,31,96,0.7) 0%, rgba(40,41,97,0) 100%)
    background: -webkit-linear-gradient(right,  rgba(29,31,96,0.7) 0%,rgba(40,41,97,0) 100%)
    background: linear-gradient(to left,  rgba(29,31,96,0.7) 0%,rgba(40,41,97,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 )
    z-index: 2

  div#full-height
    max-width: 1000px
    margin: 0 auto
    height: 250px
    display: flex
    justify-content: center
    flex-direction: column

    h2
      z-index: 3
      position: relative
      text-transform: uppercase
      color: $background-color
      margin: 0px auto
      font-size: 2.5em
      text-shadow: 0px 0px 10px rgba(0,0,0,0.5)
      text-align: center
      max-width: 800px

    h3
      z-index: 3
      position: relative
      text-transform: uppercase
      font-family: $p-font-stack
      color: $background-color
      margin: 0px auto
      font-size: 0.9em
      font-weight: 100
      text-shadow: 0px 0px 10px rgba(0,0,0,0.5)
      line-height: 24px

      ul
        list-style-type: none
        display: inline

        li:hover
          background-color: $light-grey
          border: 1px solid #fafafa
          text-shadow: none !important

          a
            color: $brand-color !important

        li
          display: inline
          margin-right: 3px
          display: inline
          margin-right: 3px
          border: 1px solid #fafafa
          padding: 2px 9px 2px 9px
          border-radius: 20px
          font-size: 0.8em
          transition: 0.1s

          a
            color: $light-grey

article.page
  max-width: 900px !important
  font-size: 1.1em !important

article
  max-width: 1000px
  margin: -100px auto 50px auto
  position: relative
  z-index: 3
  padding: 20px
  background-color: $light-grey
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1)

  p
    font-family: $p-font-stack
    color: #2d2d2d
    font-size: 1em
    background-color: $light-grey
    margin-top: 10px

  p:first-of-type
    display: block
    margin-top: 20px

  div.video-box

  div.video-wrapper
    position: relative
    padding-bottom: 54%
    padding-top: 25px
    height: 0
    border-bottom: 5px solid $brand-color

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  a span#back
    color: $background-color
    font-size: 1em
    font-family: open sans
    text-transform: uppercase
    font-weight: 100
    position: absolute
    top: -30px
    transition: 0.1s
    cursor: pointer
    left: 0
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3)

  a span#back:hover
    transform: scale(1.1,1.1)

section.more-info
  width: 100%
  display: flex
  flex-direction: row
  flex-grow: 1
  margin-bottom: 40px

h4.related
  font-family: oswald
  font-size: 1.7em
  color: $brand-color
  font-weight: 700
  text-align: center
  margin-bottom: 5px

div.blog-tile:hover
  transform: scale(1.02,1.02)

div.blog-tile
  border-right: 1px solid #dfdfdf
  background-color: $background-color
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
  transition: 0.2s
  position: relative
  overflow: hidden
  width: 33.3%
  border-left: 5px solid $brand-color
  padding: 10px
  margin-top: 30px
  margin-bottom: 25px

  h4
    i
      font-size: 0.9em
      margin-left: 3px


  h3
    text-transform: uppercase
    color: $brand-color
    font-size: 0.9em

  div.cover
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    transition: 0.1s
    z-index: 5

  div.cover:hover
    background-color: rgba(40,41,97,0.03)



//Related content

section.related
  max-width: 1000px
  position: relative
  display: flex
  flex-direction: row
  flex-grow: 1
  margin: 10px auto 0px auto
  flex-flow: row wrap

  div.padder
    width: 25%
    padding: 5px

  div.related-tile:hover
    transform: scale(1.02,1.02)
    background-color: rgba(40,41,97,0.03)

  div.related-tile
    // width: 25%
    height: 230px
    border: 1px solid #dfdfdf
    background-color: $background-color
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
    transition: 0.2s
    position: relative
    overflow: hidden

    div.related-image
      height: 50%
      width: 100%
      background-size: cover
      background-position: center
      -webkit-filter: brightness(0.8)
      filter: brightness(0.8)
      position: relative
      z-index: 4

    div.related-content
      padding: 10px
      position: relative
      z-index: 4

      h3
        font-family: oswald
        font-size: 1.1em
        color: $brand-color
        font-weight: 400
        text-transform: uppercase

      h4
        color: #969696
        font-size: 0.8em

        a
          color: #969696

    div.cover
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      z-index: 5
      transition: 0.1s

    div.cover:hover
      background-color: rgba(40,41,97,0.03)

//Category page
h2.category
  font-family: $h-font-stack
  font-size: 2em
  text-align: center
  font-weight: 700
  color: $brand-color
  margin: 20px auto 10px auto
  text-transform: uppercase

  span
    font-weight: 100
    color: #dfdfdf

section#category
  display: flex
  flex-flow: row wrap
  z-index: 3
  position: relative
  padding: 10px 5px 10px 5px
  max-width: 1100px
  margin: 20px auto 10px auto

  div.padder
    height: 350px
    width: 33.33%
    padding: 10px

  div.tile:hover
    transform: scale(1.01,1.01)
    transition: 0.2s

    .tile-info
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(40,41,97,0.05) 100%)
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(40,41,97,0.05) 100%)
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(40,41,97,0.05) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a282961',GradientType=0 )

  div.tile
    border: 1px solid #dfdfdf
    height: 100%
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
    transition: 0.2s
    position: relative
    overflow: hidden

    div.cover
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0

    div.tile-image
      height: 50%
      background-size: cover
      background-position: center
      -webkit-filter: brightness(0.8)

    div.tile-info
      height: 50%
      padding: 20px
      position: relative

      ul
        list-style-type: none
        z-index: 10
        position: relative

        li
          display: inline
          margin-right: 5px
          font-size: 0.8em
          font-family: $p-font-stack

          a
            color: $mid-grey
            font-weight: 100

      h2
        text-transform: uppercase
        color: $brand-color
        font-size: 1.3em

      p
        font-size: 0.8em
        color: $mid-grey
        margin-top: 10px

      div.triangle
        width: 0
        height: 0
        border-left: 25px solid transparent
        border-right: 25px solid transparent
        border-bottom: 30px solid $background-color
        position: absolute
        top: -25px
        left: 15px

section#pagination
  padding: 50px 10px 50px 10px
  width: 100%
  background-color: $light-grey
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row

  span, a
    font-family: $p-font-stack
    border: 1px solid $brand-color
    border-radius: 30px
    font-size: 0.8em
    text-transform: uppercase
    padding: 3px 7px
    margin: 0px 3px 0px 3px
    transition: 0.2s
    color: $brand-color

  a:hover, span.current
    background-color: $brand-color
    color: $background-color

  span.dots
    background-color: $light-grey
    color: $brand-color
    border: none !important

ul.popular-cats
  list-style-type: none
  margin-bottom: 30px
  text-align: center

  li
    display: inline
    font-family: $p-font-stack
    border: 1px solid #969696
    border-radius: 30px
    font-size: 0.8em
    text-transform: uppercase
    padding: 3px 7px
    margin: 0px 3px 0px 3px
    transition: 0.2s

    a
      color: #969696

  li:hover
    background-color: $brand-color !important
    border-color: $brand-color

    a
      color: $background-color !important

span#cat-back
  position: absolute
  color: $brand-color
  top: -25px
  font-family: $p-font-stack
  text-transform: uppercase
  text-shadow: none !important
  transition: 0.1s

span#cat-back:hover
  transform: scale(1.1,1.1)
