html, body {
  height: 100%;
  background-color: #fafafa; }
  html ::selection, body ::selection {
    background-color: rgba(40, 41, 97, 0.7);
    color: #efefef; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: oswald, sans-serif; }

p {
  font-family: open sans, sans-serif; }

a {
  text-decoration: none; }

header {
  display: block;
  width: 100%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 50px;
  position: fixed;
  background-color: #fafafa;
  z-index: 100;
  font-family: oswald, sans-serif; }

nav ul {
  list-style-type: none; }

header nav ul li {
  float: left;
  padding: 0px 7px 0px 7px;
  font-size: 0.9em;
  transition: 0.2s;
  text-transform: uppercase; }

nav ul li a {
  color: #282961; }

nav ul li:hover, nav#social ul li a:hover {
  margin-top: -3px;
  transition: 0.2s; }

nav#right, nav#social {
  float: right; }

nav#social ul li a {
  background-color: #282961;
  border-radius: 30px;
  width: 23px;
  height: 23px;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s; }

nav#social {
  margin-left: 10px; }

nav#social ul li {
  padding: 0px 5px 0px 5px;
  margin-top: -2px; }

nav#right ul li.active a {
  background-color: #515294;
  border-radius: 30px;
  transition: 0.2s;
  padding-left: 10px;
  padding-right: 10px;
  color: #fafafa; }

img#forge {
  height: 20px; }

header nav#right i {
  display: none;
  transition: 0.1s;
  color: #282961; }

i.fa-bars:hover {
  transition: 0.1s;
  transform: scale(1.1); }

footer {
  display: block;
  width: 100%;
  padding: 25px;
  min-height: 50px;
  background-color: #282961;
  text-align: center;
  z-index: 5;
  position: relative;
  -webkit-box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2);
  font-family: oswald, sans-serif; }
  footer nav {
    display: flex;
    margin: 10px auto 30px auto;
    justify-content: center;
    align-items: center; }
    footer nav ul li {
      float: left;
      font-size: 0.9em;
      transition: 0.2s;
      text-transform: uppercase;
      padding: 0px 7px 0px 7px; }
    footer nav ul li a {
      background-color: #515294;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      color: #fafafa;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s; }
    footer nav nav {
      margin-left: 10px; }
    footer nav nav ul li {
      padding: 0px 7px 0px 7px;
      margin-top: -2px; }
  footer span {
    text-transform: uppercase;
    color: #515294;
    font-size: 1.3em; }
  footer hr {
    width: 30px;
    margin: 10px auto;
    border: 1px solid #515294; }
  footer p {
    font-family: open sans, sans-serif;
    color: #515294;
    font-size: 0.8em; }
    footer p a {
      color: #797AAF; }

section#latest, section#services {
  max-width: 1100px;
  margin: 20px auto;
  clear: both; }
  section#latest p, section#services p {
    color: #515294;
    font-size: 0.8em; }
    section#latest p a, section#services p a {
      color: #797AAF;
      font-family: open sans; }

section#hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #fafafa;
  position: relative;
  z-index: 1;
  font-family: oswald, sans-serif; }
  section#hero div#bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    -webkit-filter: brightness(0.6) grayscale(1);
    -moz-filter: brightness(0.6) grayscale(1);
    filter: brightness(0.6) grayscale(1); }
  section#hero div#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: -moz-linear-gradient(right, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    background: linear-gradient(to left, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 ); }
  section#hero div.divider {
    height: 12px;
    width: 60px;
    border-top: 3px solid #fafafa;
    border-bottom: 3px solid #fafafa;
    margin: 20px; }
  section#hero span#slogan {
    max-width: 320px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-size: 1.1em; }

img#logo {
  height: 100px; }

a.cue {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fafafa;
  animation-name: throb;
  animation-duration: 1s;
  animation-delay: 1s;
  transition: 0.2s;
  z-index: 3; }

i.cue {
  opacity: 0.7; }

@keyframes throb {
  0% {
    transform: scaleY(1);
    background-color: rgba(255, 255, 255, 0); }
  50% {
    transform: scaleY(1.5);
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    transform: scaleY(1);
    background-color: rgba(255, 255, 255, 0); } }
a.cue:hover {
  transition: 0.2s;
  transform: scaleY(1.3);
  background-color: rgba(255, 255, 255, 0.3); }

h4 {
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: open sans;
  font-weight: 100;
  color: #969696; }

section#latest {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  z-index: 3;
  position: relative;
  padding: 10px 5px 10px 5px; }
  section#latest div.padder {
    height: 50%;
    width: 33.33%;
    padding: 10px; }
  section#latest div.tile:hover {
    transform: scale(1.01, 1.01);
    transition: 0.2s; }
    section#latest div.tile:hover .tile-info {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 41, 97, 0.05) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 41, 97, 0.05) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(40, 41, 97, 0.05) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a282961',GradientType=0 ); }
  section#latest div.tile {
    border: 1px solid #dfdfdf;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    position: relative;
    overflow: hidden; }
    section#latest div.tile div.cover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; }
    section#latest div.tile div.tile-image {
      height: 50%;
      background-size: cover;
      background-position: center;
      -webkit-filter: brightness(0.8); }
    section#latest div.tile div.tile-info {
      height: 50%;
      padding: 20px;
      position: relative; }
      section#latest div.tile div.tile-info ul {
        list-style-type: none;
        z-index: 10;
        position: relative; }
        section#latest div.tile div.tile-info ul li {
          display: inline;
          margin-right: 5px;
          font-size: 0.8em;
          font-family: open sans, sans-serif; }
          section#latest div.tile div.tile-info ul li a {
            color: #969696;
            font-weight: 100; }
      section#latest div.tile div.tile-info h2 {
        text-transform: uppercase;
        color: #282961;
        font-size: 1.3em; }
      section#latest div.tile div.tile-info p {
        font-size: 0.8em;
        color: #969696;
        margin-top: 10px; }
      section#latest div.tile div.tile-info div.triangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 30px solid #fafafa;
        position: absolute;
        top: -25px;
        left: 15px; }

div.grad {
  position: absolute;
  z-index: 4;
  bottom: 0;
  height: 40px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, #fafafa 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(47%, rgba(246, 246, 246, 0.47)), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, #fafafa 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, #fafafa 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, #fafafa 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0 ); }

a span#more {
  color: #282961;
  font-size: 1em;
  font-family: open sans;
  text-transform: uppercase;
  font-weight: 100;
  margin: 5px 10px 20px 10px;
  display: none;
  transition: 0.1s;
  cursor: pointer; }

a span#more:hover {
  transform: scale(1.1, 1.1); }

a#more span {
  color: #282961;
  font-size: 1em;
  font-family: open sans;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  text-align: center; }

a#more:hover {
  transform: scale(1.05, 1.05); }

a#more {
  width: 122px !important;
  margin: 5px auto 50px auto;
  display: block;
  transition: 0.1s; }

section#contact:hover {
  transition: 0.1s;
  background-color: #494A8E; }

section#contact {
  width: 100%;
  height: 250px;
  background-color: #515294;
  padding: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  position: relative;
  z-index: 0; }
  section#contact div#bg_img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: grayscale(1) brightness(0.7);
    filter: grayscale(1) brightness(0.7);
    -moz-filter: grayscale(1) brightness(0.7); }
  section#contact div#grad {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: -moz-linear-gradient(right, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    background: linear-gradient(to left, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 );
    transition: 0.1s; }
  section#contact h3 {
    text-transform: uppercase;
    font-family: open sans, sans-serif;
    font-size: 0.9em;
    color: #fafafa;
    font-weight: 100;
    position: relative;
    z-index: 3;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  section#contact h4 {
    color: #fafafa;
    font-weight: 700;
    text-transform: uppercase;
    font-family: oswald;
    font-size: 2em;
    position: relative;
    z-index: 3;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  section#contact h3:nth-of-type(2) {
    opacity: 0.5; }

section#contact:hover div#grad {
  opacity: 0.7; }

section#featured {
  width: 100%;
  height: 60%;
  background-color: #efefef;
  position: relative; }
  section#featured div#bg_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1); }
  section#featured div#bg {
    background: -moz-linear-gradient(left, #1d1f60 0%, rgba(40, 41, 97, 0) 100%);
    background: -webkit-linear-gradient(left, #1d1f60 0%, rgba(40, 41, 97, 0) 100%);
    background: linear-gradient(to right, #1d1f60 0%, rgba(40, 41, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1; }
  section#featured div.featured-info {
    padding: 50px;
    max-width: 500px;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: relative; }
    section#featured div.featured-info ul {
      list-style-type: none; }
      section#featured div.featured-info ul li {
        display: inline;
        margin-right: 5px;
        font-size: 0.8em;
        font-family: open sans, sans-serif;
        font-weight: 100; }
        section#featured div.featured-info ul li a {
          color: #fafafa; }
    section#featured div.featured-info h2 {
      text-transform: uppercase;
      color: #fafafa;
      font-size: 1.8em; }
    section#featured div.featured-info p {
      font-size: 0.9em;
      color: #fafafa; }
    section#featured div.featured-info button#watch-now {
      color: #fafafa;
      background-color: #515294;
      padding: 15px;
      font-size: 0.8em;
      border-radius: 2px;
      margin-top: 40px;
      border: none !important;
      box-shadow: none !important;
      text-transform: uppercase;
      font-family: open sans; }
      section#featured div.featured-info button#watch-now i {
        margin-left: 5px; }
  section#featured h3 {
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase; }

button {
  color: #fafafa;
  background-color: #282961;
  padding: 15px;
  font-size: 0.8em;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-family: open sans; }
  button i {
    margin-left: 5px; }

section#services {
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  z-index: 3;
  position: relative;
  padding: 10px 5px 10px 5px; }
  section#services div.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: peach; }
    section#services div.column div.service.hover:hover {
      transform: scale(1.01, 1.01);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
      transition: 0.2s; }
    section#services div.column div.service {
      flex: 1;
      border-top: 7px solid #282961;
      margin: 10px;
      border-bottom: 1px solid #dfdfdf;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      display: flex;
      flex-direction: row; }
      section#services div.column div.service div.cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      section#services div.column div.service div.flex-image {
        flex: 1;
        background-size: cover;
        background-position: center;
        border-right: 1px solid #dfdfdf; }
      section#services div.column div.service div.flex-content {
        padding: 20px;
        flex: 1; }
        section#services div.column div.service div.flex-content h3 {
          color: #282961;
          font-size: 1.7em;
          text-transform: uppercase; }
        section#services div.column div.service div.flex-content p {
          font-size: 0.9em;
          color: #969696;
          margin-top: 10px; }
        section#services div.column div.service div.flex-content button {
          position: absolute;
          bottom: 20px; }

div.spacer {
  height: 50px; }

section#title {
  width: 100%;
  min-height: 350px;
  background-color: #282961;
  position: relative; }
  section#title div#bg_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: grayscale(1) brightness(0.7);
    -moz-filter: grayscale(1) brightness(0.7);
    filter: grayscale(1) brightness(0.7);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1; }
  section#title div#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(right, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    background: linear-gradient(to left, rgba(29, 31, 96, 0.7) 0%, rgba(40, 41, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282961', endColorstr='#00282961',GradientType=1 );
    z-index: 2; }
  section#title div#full-height {
    max-width: 1000px;
    margin: 0 auto;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    section#title div#full-height h2 {
      z-index: 3;
      position: relative;
      text-transform: uppercase;
      color: #fafafa;
      margin: 0px auto;
      font-size: 2.5em;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      max-width: 800px; }
    section#title div#full-height h3 {
      z-index: 3;
      position: relative;
      text-transform: uppercase;
      font-family: open sans, sans-serif;
      color: #fafafa;
      margin: 0px auto;
      font-size: 0.9em;
      font-weight: 100;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      line-height: 24px; }
      section#title div#full-height h3 ul {
        list-style-type: none;
        display: inline; }
        section#title div#full-height h3 ul li:hover {
          background-color: #efefef;
          border: 1px solid #fafafa;
          text-shadow: none !important; }
          section#title div#full-height h3 ul li:hover a {
            color: #282961 !important; }
        section#title div#full-height h3 ul li {
          display: inline;
          margin-right: 3px;
          display: inline;
          margin-right: 3px;
          border: 1px solid #fafafa;
          padding: 2px 9px 2px 9px;
          border-radius: 20px;
          font-size: 0.8em;
          transition: 0.1s; }
          section#title div#full-height h3 ul li a {
            color: #efefef; }

article {
  max-width: 1000px;
  margin: -100px auto 50px auto;
  position: relative;
  z-index: 3;
  padding: 20px;
  background-color: #efefef; }
  article p {
    font-family: open sans, sans-serif;
    color: #2d2d2d;
    font-size: 1em;
    background-color: #efefef;
    margin-top: 10px; }
  article p:first-of-type {
    display: block;
    margin-top: 20px; }
  article div.video-wrapper {
    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
    border-bottom: 5px solid #282961; }
    article div.video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  article a span#back {
    color: #fafafa;
    font-size: 1em;
    font-family: open sans;
    text-transform: uppercase;
    font-weight: 100;
    position: absolute;
    top: -30px;
    transition: 0.1s;
    cursor: pointer;
    left: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
  article a span#back:hover {
    transform: scale(1.1, 1.1); }

section.more-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 40px; }

h4.related {
  font-family: oswald;
  font-size: 1.7em;
  color: #282961;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px; }

div.blog-tile:hover {
  transform: scale(1.02, 1.02); }

div.blog-tile {
  border-right: 1px solid #dfdfdf;
  background-color: #fafafa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  width: 33.3%;
  border-left: 5px solid #282961;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 25px; }
  div.blog-tile h4 i {
    font-size: 0.9em;
    margin-left: 3px; }
  div.blog-tile h3 {
    text-transform: uppercase;
    color: #282961;
    font-size: 0.9em; }
  div.blog-tile div.cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.1s;
    z-index: 5; }
  div.blog-tile div.cover:hover {
    background-color: rgba(40, 41, 97, 0.03); }

section.related {
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 10px auto 0px auto;
  flex-flow: row wrap; }
  section.related div.padder {
    width: 25%;
    padding: 5px; }
  section.related div.related-tile:hover {
    transform: scale(1.02, 1.02);
    background-color: rgba(40, 41, 97, 0.03); }
  section.related div.related-tile {
    height: 230px;
    border: 1px solid #dfdfdf;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    position: relative;
    overflow: hidden; }
    section.related div.related-tile div.related-image {
      height: 50%;
      width: 100%;
      background-size: cover;
      background-position: center;
      -webkit-filter: brightness(0.8);
      filter: brightness(0.8);
      position: relative;
      z-index: 4; }
    section.related div.related-tile div.related-content {
      padding: 10px;
      position: relative;
      z-index: 4; }
      section.related div.related-tile div.related-content h3 {
        font-family: oswald;
        font-size: 1.1em;
        color: #282961;
        font-weight: 400;
        text-transform: uppercase; }
      section.related div.related-tile div.related-content h4 {
        color: #969696;
        font-size: 0.8em; }
        section.related div.related-tile div.related-content h4 a {
          color: #969696; }
    section.related div.related-tile div.cover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      transition: 0.1s; }
    section.related div.related-tile div.cover:hover {
      background-color: rgba(40, 41, 97, 0.03); }

h2.category {
  font-family: oswald, sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #282961;
  margin: 20px auto 10px auto;
  text-transform: uppercase; }
  h2.category span {
    font-weight: 100;
    color: #dfdfdf; }

section#category {
  display: flex;
  flex-flow: row wrap;
  z-index: 3;
  position: relative;
  padding: 10px 5px 10px 5px;
  max-width: 1100px;
  margin: 20px auto 10px auto; }
  section#category div.padder {
    height: 350px;
    width: 33.33%;
    padding: 10px; }
  section#category div.tile:hover {
    transform: scale(1.01, 1.01);
    transition: 0.2s; }
    section#category div.tile:hover .tile-info {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 41, 97, 0.05) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 41, 97, 0.05) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(40, 41, 97, 0.05) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a282961',GradientType=0 ); }
  section#category div.tile {
    border: 1px solid #dfdfdf;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    position: relative;
    overflow: hidden; }
    section#category div.tile div.cover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; }
    section#category div.tile div.tile-image {
      height: 50%;
      background-size: cover;
      background-position: center;
      -webkit-filter: brightness(0.8); }
    section#category div.tile div.tile-info {
      height: 50%;
      padding: 20px;
      position: relative; }
      section#category div.tile div.tile-info ul {
        list-style-type: none;
        z-index: 10;
        position: relative; }
        section#category div.tile div.tile-info ul li {
          display: inline;
          margin-right: 5px;
          font-size: 0.8em;
          font-family: open sans, sans-serif; }
          section#category div.tile div.tile-info ul li a {
            color: #969696;
            font-weight: 100; }
      section#category div.tile div.tile-info h2 {
        text-transform: uppercase;
        color: #282961;
        font-size: 1.3em; }
      section#category div.tile div.tile-info p {
        font-size: 0.8em;
        color: #969696;
        margin-top: 10px; }
      section#category div.tile div.tile-info div.triangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 30px solid #fafafa;
        position: absolute;
        top: -25px;
        left: 15px; }

section#pagination {
  padding: 30px;
  width: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  section#pagination span, section#pagination a {
    font-family: open sans, sans-serif;
    border: 1px solid #282961;
    border-radius: 30px;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 3px 7px;
    margin: 0px 3px 0px 3px;
    transition: 0.2s;
    color: #282961; }
  section#pagination a:hover, section#pagination span.current {
    background-color: #282961;
    color: #fafafa; }
  section#pagination span.dots {
    background-color: #efefef;
    color: #282961;
    border: none !important; }

ul.popular-cats {
  list-style-type: none;
  margin-bottom: 30px;
  text-align: center; }
  ul.popular-cats li {
    display: inline;
    font-family: open sans, sans-serif;
    border: 1px solid #969696;
    border-radius: 30px;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 3px 7px;
    margin: 0px 3px 0px 3px;
    transition: 0.2s; }
    ul.popular-cats li a {
      color: #969696; }
  ul.popular-cats li:hover {
    background-color: #282961 !important;
    border-color: #282961; }
    ul.popular-cats li:hover a {
      color: #fafafa !important; }

span#cat-back {
  position: absolute;
  color: #282961;
  top: -25px;
  font-family: open sans, sans-serif;
  text-transform: uppercase;
  text-shadow: none !important;
  transition: 0.1s; }

span#cat-back:hover {
  transform: scale(1.1, 1.1); }

/*# sourceMappingURL=main.css.map */
