@media screen and (max-width: 900px) {
  ul.popular-cats, span#cat-back {
    display: none; }

  h2.category {
    margin-bottom: 30px; }

  section#latest div.padder {
    width: 50%; }

  img#logo {
    height: 50px; }

  section#latest, section#services {
    height: auto !important; }
    section#latest div.padder, section#services div.padder {
      height: 400px; }

  header nav#right div {
    display: none !important; }
  header nav#right i {
    display: inline !important; }

  header nav#social {
    display: none; }

  a span#more {
    display: block; }

  div.blog-tile {
    width: 70%; }

  section#title div#bg_img {
    -webkit-filter: grayscale(1) brightness(0.3);
    -moz-filter: grayscale(1) brightness(0.3);
    filter: grayscale(1) brightness(0.3); }

  section#category div.padder {
    width: 50% !important; } }
@media screen and (max-width: 600px) {
  section#category div.padder {
    width: 100% !important; }

  article {
    margin-top: -150px; }
    article span#back {
      position: relative !important;
      color: #282961 !important;
      text-shadow: none !important;
      top: -5px !important; }
    article p {
      font-size: 0.9em;
      margin-top: 15px; }

  h4.related {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto; }

  section#title {
    height: 250px; }
    section#title div#full-height {
      height: 200px; }
      section#title div#full-height h2 {
        font-size: 1.5em; }
      section#title div#full-height h3 {
        max-width: 275px;
        text-align: center; }

  section#services div.column div.service {
    min-height: 320px;
    flex-direction: column; }
    section#services div.column div.service div.flex-image {
      min-height: 150px; }
    section#services div.column div.service div.flex-content {
      min-height: 230px; }

  div.column {
    width: 100% !important; }

  section#latest div.padder {
    width: 100%; }

  div.blog-tile {
    width: 100%; }

  section#featured {
    height: 100%; }
    section#featured div.featured-info {
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; }
      section#featured div.featured-info h2 {
        font-size: 2.5em;
        margin-bottom: 15px; }
      section#featured div.featured-info ul.post-categories {
        display: none; }

  footer br {
    display: none; }

  section#contact {
    display: none; }

  section.related div.padder {
    width: 50%; } }
@media screen and (min-width: 1400px) {
  img#logo {
    height: 130px; }

  span#slogan {
    font-size: 1.3em !important; }

  section#featured div.featured-info {
    padding: 80px;
    max-width: 800px; }
    section#featured div.featured-info h2 {
      font-size: 3em !important; }

  section#latest div.tile div.tile-info h2 {
    font-size: 1.6em; }

  section#services {
    height: 60%; }

  section#contact {
    height: 300px;
    padding: 80px; }
    section#contact h3 {
      font-size: 1em; }
    section#contact h4 {
      font-size: 3em; }
    section#contact span {
      font-size: 2em !important; } }

/*# sourceMappingURL=responsive.css.map */
